.pageTop {
    background-image: url('../../public/img/about_us1.jpg');
    background-size: cover; 
}
.topText {
    background-color: rgba(255, 153, 0, 0.7);
    text-align: center;
    padding: 1em;
    cursor: default;
    color: #fff;
    padding-bottom: 1.5em;
}

.topText button {
    margin-top: 5px;
    padding: 0em 1em 0em 1em;
    background-color: #fff;
    border: solid #fff 1px;
    border-radius: 3px;
}
.topText button a {
    color: #f48c47;
    font-size: 2em;
    text-decoration: none;
}

.pageSecond {
    background-image: url('../../public/img/about_us2.jpg');
    background-size: cover;   
}
.secondText {
    background-color: rgba(0, 153, 153, 0.7);
    text-align: center;
    padding: 1em;
    cursor: default;
    color: #fff;
}

.pageThird {
    background-image: url('../../public/img/about_us3.jpg');
    background-size: cover; 
}
.thirdText {
    background-color: rgba(255, 153, 0, 0.7);
    text-align: center;
    padding: 1em;
    cursor: default;
    color: #fff;
    padding-top: 4em;
    padding-bottom: 4em;
}

.pageFourth {
    background-image: url('../../public/img/about_us4.jpg');
    background-size: cover; 
}
.fourthText {
    background-color: rgba(0, 153, 153, 0.7);
    text-align: center;
    padding: 1em;
    cursor: default;
    color: #fff;
}


.fifthText {
    background-color: #fff;
    text-align: center;
    padding: 1em;
    cursor: default;
    color: #000;
}
.fifthText h1 {
    color: rgba(0, 153, 153);
}
.fifthText p b {
    color: #f48c47;
}

/* Medium devices */
@media only screen and (min-width: 768px) {
    .secondText {
        text-align: left;
        padding: 3em;

    }

    .secondText p {
        margin-right: 25em;
    }

    .thirdText {
        padding-top: 7em;
        padding-bottom: 7em;
    }

    .thirdText p {
        margin-right: 12em;
        margin-left: 12em;
    }

    .fourthText {
        text-align: left;
        padding: 3em;
    }

    .fourthText h1 {
        margin-right: 12em;
    }

    .fourthText p {
        margin-right: 25em;
    }

    .fifthText p {
        margin-right: 12em;
        margin-left: 12em;
    }

}

/* Large devices */
@media only screen and (min-width: 992px) {
    .topText {
        padding: 10em;
    }

    .secondText {
        padding: 10em;
    }

    .secondText p {
        margin-right: 35em;
    }

    .thirdText {
        padding-top: 12em;
        padding-bottom: 12em;
    }

    .thirdText p {
        margin-right: 20em;
        margin-left: 20em;
    }

    .fourthText {
        padding: 10em;
    }

    .fourthText h1 {
        margin-right: 12em;
    }

    .fourthText p {
        margin-right: 40em;
    }

    .fifthText {
        padding: 5em;
    }

    .fifthText p {
        margin-right: 20em;
        margin-left: 20em;
    }
  }
