body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.prof_pic {
    border: solid 1px #ccc;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

#button2 {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.button {
  margin-right: 1.5em;
  }

      /* Medium devices */
@media only screen and (min-width: 768px) {
  #button2 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
} 

/* Large devices */
@media only screen and (min-width: 992px) {

  #button2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
}