* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.pageTop {
    background-image: url('../../public/img/people_reading_phone.jpg');
    background-size: cover; 
}
.topText {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 1em;
    cursor: default;
}

.topText button {
    margin-top: 5px;
    background-color: #f48c47;
    border: solid #fff 1px;
    border-radius: 3px;
}
.topText button:hover {
    background-color: #FF6633;
}
.topText button a {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}

.latest_news {
    background-color: #F2F2F2;
    text-align: center;
    border: solid 2px;
    border-color: #CCC;
    padding-bottom: 5%;
}
.latest_news h1 {
    margin-top: 2%;
}
.latest_news h4 {
    color: #999;
}

.post {
    background-color: #fff;
    border: solid 2px;
    border-color: #CCC;
    margin-left: 2%;
    width: 96%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

