* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
  
.header_img {
  background-image: url('../../public/img/agenda-banner.jpg');
  background-size: cover; 
  width: 100vw;
  height: 45vh;
  border-bottom: solid 1px;
  border-color: #CCC;
}
.header_info {
    background-color: rgba(0, 0, 0, 0.308);
    padding: 1em;
    cursor: default;
    color: #fff;
    text-align: center;
}

#settingsIcon {
    position: absolute;
    right: 5%;
}

#prof_pic {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}