* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header_img {
    background-image: url('../../public/img/profile_banner.jpg');
    background-size: cover;
    width: 100vw;
    height: 45vh;
    border-bottom: solid 1px;
    border-color: #CCC;
}

.header_info {
    background-color: rgba(0, 0, 0, 0.308);
    padding: 1em;
    width: 100vw;
    height: 45vh;
    cursor: default;
    color: #fff;
    text-align: center;
}

#settingsIcon {
    position: absolute;
    right: 5%;
    color: #fff;
    cursor: pointer;
}

.fas {
  font-size:24px;
}

#prof_pic {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.counters {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
    margin-left: 30px;
    margin-right: 40px;
}

.user_counters {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

#bio_box {
  border-bottom: solid 1px #ccc;
}

#bio {
    margin-left: 10px;
    padding-bottom: 1em;
}

.story {
  margin-left: 10px;
  margin-right: 10px;
}

.story_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 10px;
}

#story_cover {
  width: 30vw;
  height: 140px;
}

.content {
  margin-left: -4em;
}

#title {
  margin-top: -.1em;
}

textarea {
  border: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  /* Medium devices */
@media only screen and (min-width: 768px) {

  .header_img {
    height: 35vh;
}

  .header_info {
    height: 35vh;
}

.fas {
  font-size: 35px;
}

#prof_pic {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

  .counters {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
    margin-left: 150px;
    margin-right: 160px;
}
  
  .user_counters {
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}

.story {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.content {
  margin-right: 5em;
}

#story_cover {
  width: 18vw;
  height: 200px;
  margin-left: 16em;
}

  
}

/* Large devices */
@media only screen and (min-width: 992px) { 
  .header_img {
    height: 50vh;
}

  .header_info {
    height: 50vh;
}

.counters {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
  margin-left: 320px;
  margin-right: 330px;
}

.user_counters {
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
}

.content {
  margin-right: 40em;
}

#story_cover {
  width: 10vw;
  height: 200px;
  margin-left: 35em;
}
}